[submodule "closure_tools/closure_compiler/repository"]
	path = closure_tools/closure_compiler/closure_compiler_repository
	url = https://github.com/google/closure-compiler.git
[submodule "closure_tools/closure_linter/closure-linter"]
	path = closure_tools/closure_linter/closure-linter
	url = https://github.com/google/closure-linter.git
